{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
      "import/prefer-default-export": "off",
      "no-shadow": "off",
      "quotes": ["error", "single", { "avoidEscape": true }],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
